*{
    box-sizing: border-box;
}
#page{
    margin: auto;
    max-width: 1440px;

}
.header{
    display: flex;
    justify-content: center;
    margin-left:0;
    margin-right: 0;
    max-width: 1440px;
    min-height: 70px;
    min-width: 334px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.header__title{
    font-family: 'Seaweed Script', cursive;
    font-size: 31px;
    line-height: 41px;
    padding-top: 14px;
    margin-right: 41px;
}
.filterWrapper{
    height: 100%;
    float: left;
    width: 249px;
    border-right: 1px solid #D0D0D0;
    margin-top: 0;  
    padding-top: 10px;
    height: 100%;
}
.filter{
    list-style-type: none;
    margin-top: 0;
    margin-left: 0;  
    padding-top: 0;
}
.item{
    font-family: 'Roboto', sans-serif;
    margin-top: 29px;
    padding-left: 10px;
    font-size: 16px;
    line-height: 19px;
    color:#818181;
}
.applyButton{
    margin-left: 34px;
    width: 180px;
    height: 39px;
    background: #4E4E4E;
    border-radius: 10px;
    color: aliceblue;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
}
.main{
    max-width: 1450px;

}
.mainItems{
    display:flex;
    flex-wrap: wrap;
    margin-left: 250px;
    align-content: flex-start;
    min-width: 490px;
    max-width: 1190px;
    height: auto;
    margin-right: 0;
}
.main__category{
    padding-left: 20px;
    width: 100%;
    float: left;
    font-family: 'Roboto';
    font-size: 24px;
    line-height: 28px;
    color: #818181;
}
.mainItem{
    margin-left: 50px;
    margin-top: 30px;
    margin-right: 30px;
    max-width: 150px;
    text-align: center;
}
.drinkImage{
    max-width: 150px;
    height: 150px;
}
.drinkName{
    text-decoration: none;
    font-family: 'Roboto';
    font-size: 18px;
    line-height: 21px;
    color: #000000;
}
